@model PetCatalog.MVC.ViewModels.AnimalViewModel
@inject PetCatalog.Application.Interfaces.IImageService imageService
@{
    var imageName = imageService.GetImageName(Model.ImageId);
}

<div class="animal-container">
    <div class="animal-details">
        <h1>@Html.DisplayFor(m => m.Name)</h1>
        <div class="comment-continer">
            <div class="comments-scroll">
                @if (ViewBag.EnableCommentDelete)
                {
                    @foreach (var comment in Model.Comments)
                    {
                        <partial name="CommentDelete" model="comment" />
                    }
                }
                else
                {
                    @foreach (var comment in Model.Comments)
                    {
                        <partial name="CommentView" model="comment" />
                    }
                }
            </div>
            <div class="comments-number-box">
                @if (Model.Comments.Count() == 0)
                {
                    <div>
                        <span>No Comments</span>
                    </div>

                }
                else
                {
                    <div>
                        <span><Strong>@Model.Comments.Count()</Strong> @(Model.Comments.Count() > 1 ? "Comments" : "Comment")</span>
                    </div>
                }
            </div>

        </div>
        <div class="comments-control">
            <button animal-id="@Model.AnimalId" class="comments-btn">
                <span class="coments-text">Add Comment</span>
            </button>
        </div>
    </div>

    <div class="animal-image">
        <img src="~/res/images/animals/@imageName" alt="The Image of @Html.DisplayFor(m=>m.Name)" />

        <div class="info">
            <h2>Information</h2>
            <ul>
                <li><strong>@Html.DisplayNameFor(m => m.Name) </strong>@Html.DisplayFor(m => m.Name)</li>
                <li><strong>@Html.DisplayNameFor(m => m.Age) </strong>@Html.DisplayFor(m => m.Age)</li>
                <li><strong>@Html.DisplayNameFor(m => m.CategoryName) </strong>@Html.DisplayFor(m => m.CategoryName)</li>
                <li class="desc-li" animal-id="@Model.AnimalId"><strong>Description</strong></li>
            </ul>
        </div>
    </div>

</div>
<div id="desc-animal-@Model.AnimalId" class="animal-desc">
    <div class="animal-desc-header">
        <strong>Description</strong>
        <button class="back-btn" animal-id="@Model.AnimalId">
            <i class="fas fa-arrow-circle-right"></i>
        </button>
    </div>
    <div class="desc-para">
        <p>
            @Model.Description
        </p>
    </div>
</div>
<div id="comment-animal-@Model.AnimalId" class="animal-comment">
    <div class="animal-comment-header">
        <button class="back-btn" animal-id="@Model.AnimalId">
            <i class="fas fa-arrow-circle-right"></i>
        </button>
    </div>
    <div class="comment-para">
        <partial name="CommentCreate" model="@(new PetCatalog.MVC.ViewModels.CommentViewModel() {AnimalId = Model.AnimalId})" />
    </div>
</div>