@model IEnumerable<PetCatalog.MVC.ViewModels.CategoryViewModel>
@inject PetCatalog.Application.Interfaces.IAnimalService animalServic
@inject AutoMapper.IMapper mapper
@{
    ViewBag.AdminClss = "active";
    ViewBag.Title = "Admin";
    ViewBag.EnableCommentDelete = true;
    var allAnimal = mapper.Map<IEnumerable<PetCatalog.MVC.ViewModels.AnimalViewModel>>(animalServic.GetAllAnimals());
    bool logoutAll = false;
}
<script src="~/scripts/CategorySelect.js"></script>
<script src="~/scripts/AnimalView.js"></script>
<div>
    <div class="admin-header">
        <h2>Animals</h2>
        <div class="logout-box">
            <form asp-action="Logout" class="logout-form">
                <button action="submit" class="btn">Logout</button>
                <div>
                    <label for="checkbox" class="keep-login-check-box">Logout from all devices</label>
                    <input type="checkbox" name="logoutAll" asp-for="@logoutAll" />
                </div>
            </form>
        </div>
    </div>
    
    <div>
        <div>

            <table>
                <thead>
                    <tr>
                        <td>
                            <div class="admin-table-header">
                                <select id="cata-select" asp-items="@(new SelectList(Model,"CategoryId","Name"))">
                                    <option value="0" selected>All</option>
                                </select>
                                <a asp-action="AnimalForm" asp-route-id="0"><i class="far fa-plus-square" title="Add Animal"></i></a>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="cate-select-row" id="tr-id-0" style="visibility:visible">
                        <td>
                            <div>
                                @foreach (var animal in allAnimal)
                                {
                                    <div class="anima-edit-box">
                                        <div class="edit-box">
                                            <a asp-action="DeleteAnimal" asp-route-id="@animal.AnimalId" class="btn">Delete</a>
                                            <a asp-action="AnimalForm" asp-route-id="@animal.AnimalId" class="btn">Edit</a>
                                        </div>
                                        <partial name="AnimalView" model="animal" />
                                    </div>
                                }

                            </div>
                        </td>
                    </tr>
                    @foreach (var cata in Model)
                    {
                        <tr class="cate-select-row" id="tr-id-@cata.CategoryId">
                            <td>
                                <div>
                                    @foreach (var animal in cata.Animals.OrderBy(an=>an.Name.ToLower()))
                                    {
                                        <div class="anima-edit-box">
                                            <div class="edit-box">
                                                <a asp-action="DeleteAnimal" asp-route-id="@animal.AnimalId" class="btn">Delete</a>
                                                <a asp-action="AnimalForm" asp-route-id="@animal.AnimalId" class="btn">Edit</a>
                                            </div>
                                            <partial name="AnimalView" model="animal" />
                                        </div>
                                    }

                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

