@model PetShop.Application.ViewModels.AnimalViewModel

<div class="animal-container">
    <div class="animal-details">
        <h2>@Html.DisplayFor(m => m.Name)</h2>
        <div class="comments-control">
            <button class="comments-btn">
                <span class="coments-count">@Model.Comments.Count()</span>
                <span class="coments-text">Comments</span>
            </button>
        </div>
    </div>

    <div class="animal-image">
        <img src="~/res/images/animals/@Model.PictureName" alt="The Image of @Html.DisplayFor(m=>m.Name)" />

        <div class="info">
            <h2>Information</h2>
            <ul>
                <li><strong>@Html.DisplayNameFor(m => m.Name) </strong>@Html.DisplayFor(m => m.Name)</li>
                <li><strong>@Html.DisplayNameFor(m => m.Age) </strong>@Html.DisplayFor(m => m.Age)</li>
                <li><strong>@Html.DisplayNameFor(m => m.Category.Name) </strong>@Html.DisplayFor(m => m.Category.Name)</li>
                <li class="desc-li" animal-id="@Model.AnimalId"><strong>Description</strong></li>
            </ul>
        </div>
    </div>

</div>
<div id="desc-animal-@Model.AnimalId" class="animal-desc">
    <div class="animal-desc-header">
        <strong>Description</strong>
        <button animal-id="@Model.AnimalId">
            <i class="fas fa-arrow-circle-right"></i>
        </button>
    </div>
    <div class="desc-para">
        <p>
            @Model.Description
        </p>
    </div>
</div>